---
- name: Copy frontend source code
  copy:
    src: ../../frontend/
    dest: /opt/frontend/
    owner: ubuntu
    group: ubuntu
    mode: preserve

- name: Install Node.js and npm
  apt:
    name:
      - nodejs
      - npm
    state: present
    update_cache: yes

- name: Install frontend dependencies
  command: npm install
  args:
    chdir: /opt/frontend

- name: Build frontend
  command: npm run build
  args:
    chdir: /opt/frontend
