---
- name: Copy frontend source code
  copy:
    src: "{{ playbook_dir }}/../frontend/"
    dest: /opt/frontend/
    owner: ubuntu
    group: ubuntu
    mode: '0755'

- name: Install Node.js 18.x
  shell: |
    curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
    apt-get install -y nodejs


- name: Install frontend dependencies
  command: npm install
  args:
    chdir: /opt/frontend

- name: Build frontend
  command: npm run build
  args:
    chdir: /opt/frontend
