---
- name: Install ACL package required for privilege escalation
  apt:
    name: acl
    state: present
    update_cache: yes

- name: Fix permissions for Ansible temp directory
  file:
    path: /tmp/.ansible
    state: directory
    owner: postgres
    group: postgres
    mode: '0777'

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install base packages
  apt:
    name:
      - git
      - python3
      - python3-pip
      - python3-venv
      - curl
    state: present
