---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install base packages
  apt:
    name:
      - git
      - python3
      - python3-pip
      - python3-venv
      - curl
    state: present
