name: ATS FullStack Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: "1.7.5"

    - name: Terraform Init
      working-directory: infra
      run: terraform init

    - name: Terraform Validate
      working-directory: infra
      run: terraform validate

    - name: Terraform Apply
      working-directory: infra
      run: terraform apply -auto-approve

    - name: Install jq
      run: sudo apt-get install -y jq

    - name: Prepare SSH Private Key
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > /tmp/privkey
        chmod 600 /tmp/privkey

    - name: Install Ansible
      run: sudo apt update && sudo apt install -y ansible

    - name: Install NodeJS
      run: |
        curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
        sudo apt install -y nodejs

    - name: Deploy Using Ansible
      env:
        DB_NAME: ${{ secrets.DB_NAME }}
        DB_USER: ${{ secrets.DB_USER }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      run: |
        IP=$(terraform -chdir=infra output -raw public_ip | tr -d '\n' | tr -d '\r')
        echo "Deploying to $IP"
        ansible-playbook -i "${IP}," ansible/playbook.yml --private-key /tmp/privkey -u ubuntu
